<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AegisClient" version="0.3.0" targetFramework="net40" />
  <package id="clrzmq" version="2.2.3" targetFramework="net40" />
  <package id="Nancy" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Stateless" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.22.2" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.21.1" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.480" targetFramework="net40" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net40" />
</packages>